.app {
    height: 100%;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.app_header {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.header_amount {
    font-size: 28px;
}

.gastos_porcent {
    background: #C1DDF6;
    width: 208px;
    height: 208px;
    margin: 1rem auto;
    border-radius: 1rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}

.porcent {
    width: 75%;
    height: 75%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.porcent_circle {
    width: 100%;
    height: 100%;
}

.circle {
    fill: none;
    stroke-width: 2;
    transform: rotate(-90deg);
    transform-origin: 50%;
    stroke-dasharray: 100 100;
    stroke: #F1F7FE;
}

.circle_porcent {
    fill: none;
    stroke-width: 2;
    transform: rotate(-90deg);
    transform-origin: 50%;
    stroke-dasharray: 0 100;
    stroke: #112D4E;
    transition: stroke-dasharray .5s ease;
}

.porcent_total {
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: translate(-50%, -50%);
}

.porcent_amount {
    font-size: 20px;
    font-weight: bold;
}

.app_date {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
}

.app_date box-icon {
    cursor: pointer;
}

.date_value {
    font-size: 20px;
    font-weight: bold;
    user-select: none;
}

.app_items {
    height: 339px;
    overflow-y: auto;
    padding: 0 1rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.items_block {
    background: #C1DDF6;
    padding: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-weight: bold;
    box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.1);
    text-transform:capitalize;
    cursor: pointer;
    transition: background .3s ease;
}

.items_block:hover {
    background: #B0D4F5;
}

.items_title,
.items_amount {
    user-select: none;
}

.app_shadow {
    background: rgba(0, 0, 0, 0.5);
    padding: 0;
    opacity: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 0;
    height: 100vh;
    transition: opacity .5s ease;
}

.app_shadow.active {
    padding: 0 18px;
    opacity: 1;
    width: 100%;
}